.formWrapper{
  display: grid;
  place-items: center;
  height: 100vh;
  padding: 20px;
}

.form{
  max-width: max-content;
  padding: 24px;
  background-color: var(--text-color-light);
  border-radius: 16px;
  border: 1px solid var(--border-color-login);
  transform: translateY(-30px);
  opacity: 0;
  animation: slideIn .6s ease forwards;
}

.form h1{
  margin-bottom: 24px;
}

.form input {
  margin-bottom: 16px;
}

@keyframes slideIn {
  to {
    transform: translate(0);
    opacity: 1;
  }
}