.form{
  padding: 24px;
  border-radius: 16px;
  border: 1px solid var(--border-color-wrapper);
  margin-bottom: 24px;
  background-color: var(--text-color-light);
  max-width: 100%;
}

.form h2, input {
  margin-bottom: 24px;
}

.btnWrapper{
  display: flex;
  justify-self: end;
  gap: 8px;
}
