.button{
  display: flex;
  justify-self: end;
  background: var(--primary-color);
  font-size: 16px;
  font-weight: 700;
  color: var(--text-color-light);
  padding: 8px 30px;
  border-radius: 8px;
  border: none;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  transition: .3s;
}

.button:hover{
  filter: brightness(1.05) contrast(110%) saturate(130%);
  transform: translateY(-2px);
}

button:disabled{
  opacity: .6;
  cursor: default;
}
