.textArea label{
  display: block;
  margin-bottom: 8px;
}

.textArea textarea{
  font-family: "Roboto", sans-serif;
  display: block;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid var(--text-color-muted);
  outline: none;
  width: 100%;
  margin-bottom: 24px;
  height: 80px;
  resize: none;
}