.modalWrapper{
  position: fixed;
  background-color: rgba(0, 0, 0, .4);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
}

.modalChildren{
  max-width: 600px;
  width: 100%;
  padding: 20px;
  transform: translateY(-30px);
  opacity: 0;
  transition: .3s;
  animation: slideIn .3s ease forwards;
}

@keyframes slideIn {
  to{
    opacity: 1;
    transform: translateY(0);
  }
}